{{/* Filename: internal/mailer/templates/user_welcome.tmpl*/}}
{{ define "subject" }}Welcome to B.I.O!{{ end }}
{{ define "plainBody" }}
Hi,

Thank you for signing up for a BIO account!
We are excited to have you on board!
For future reference, please not that your identification number 
is {{ .ID }}.


Thanks,

The BIO Team
{{ end }}

{{ define "htmlBody" }}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body>
    <p>Hi,</p>
    <p>Thank you for signing up for a B.I.O account!</p>
    <p>We are excited to have you on board!</p>
    <p>For future reference, please not that your identification number 
    is {{ .ID }}.</p>
    
    <p>Thanks,</p>
    <p>The BIO Team</p>
</body>
</html>
{{ end }}